<!-- start of themart-banner-section -->
<section class="themart-banner-section">
  <div class="container-1410">
    <div class="banner-wrap">
      <div class="rigth-image">
        <img loading="lazy" src="../assets/banner-img.png" alt="">
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-9 col-12">
          <div class="content">
            <div class="bg-text">
              <h1>Planting</h1>
            </div>
            <h2>Living Room Collection</h2>
            <p>Beautiful, Plantingable and Stylish</p>
            <a href="shop.html">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of themart-banner-section -->