<!-- start of category-section -->
<section class="category-section section-padding">
  <div class="container-1410">
    <div class="row">
      <div class="col col-xs-12">
        <div class="section-title-s2">
          <h2>Categorys</h2>
        </div>
        <a href="#" class="more-Categorys">More Categorys</a>
      </div>
    </div>
    <div class="category-wrap">
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="category-card">
            <img loading="lazy" src="../assets/1.jpg" alt="">
            <div class="text">
              <h3><a href="shop-single.html">Apple</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="category-card">
            <img loading="lazy" src="../assets/2.jpg" alt="">
            <div class="text">
              <h3><a href="shop-single.html">Lemon</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="category-card">
            <img loading="lazy" src="../assets/3.jpg" alt="">
            <div class="text">
              <h3><a href="shop-single.html">Flower</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="category-card">
            <img loading="lazy" src="../assets/4.jpg" alt="">
            <div class="text">
              <h3><a href="shop-single.html">Tree</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="category-card">
            <img loading="lazy" src="../assets/5.jpg" alt="">
            <div class="text">
              <h3><a href="shop-single.html">Fruit</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="category-card">
            <img loading="lazy" src="../assets/6.jpg" alt="">
            <div class="text">
              <h3><a href="shop-single.html">Leave</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="category-card">
            <img loading="lazy" src="../assets/7.jpg" alt="">
            <div class="text">
              <h3><a href="shop-single.html">Flower</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of category-section -->