<!-- start instagram-section -->
<section class="instagram-section">
  <div class="container-1410">
    <div class="row">
      <div class="col col-xs-12">
        <div class="instagram-inner">
          <div class="instagram-text">
            <h3>Follow our instagram</h3>
            <p>@JadeShop.studio</p>
          </div>
          <div class="instagram-grids clearfix">
            <div class="grid">
              <a href="shop-single.html"><img loading="lazy" src="../assets/1.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img loading="lazy" src="../assets/3.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img loading="lazy" src="../assets/4.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img loading="lazy" src="../assets/2.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img loading="lazy" src="../assets/5.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img loading="lazy" src="../assets/6.jpg" alt></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end instagram-section -->