<!-- start instagram-section -->
<section class="instagram-section">
  <div class="container-1410">
    <div class="row">
      <div class="col col-xs-12">
        <div class="instagram-inner">
          <div class="instagram-text">
            <h3>{{ section.settings.instagram_title }}</h3>
            <p>{{ section.settings.instagram_id }}</p>
          </div>
          <div class="instagram-grids clearfix">
            {% for block in section.blocks %}
            <div class="grid">
              <a href="{{ section.settings.instagram_link }}"><img loading="lazy" src=" {{ block.settings.instagram_image | img_url: 'original' }}" alt></a>
            </div>
            {% endfor %}
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end instagram-section -->

{% schema %}
{
  "name": "Instagram Section",
  "settings": [
  
    {
      "type": "text",
      "id": "instagram_title",
      "label": "Instagram Title",
      "default": "Follow our instagram"
    },
    {
      "type": "text",
      "id": "instagram_id",
      "label": "Instagram ID",
      "default": "@JadeShop.studio"
    },
    {
      "type": "url",
      "id": "instagram_link",
      "label": "Instagram Link"
    }
  ],
  "blocks":[
    {
        "name": "Instagram Images",
        "type": "image_picker",
        "settings": [
                {
                    "type": "image_picker",
                    "id": "instagram_image",
                    "label": "Instagram Image"
                }
                

            ]
        }
    ],

  "presets": [
  {
    "name": "Instagram Section",
    "blocks": [
      {
      "type": "image_picker"
      }
    ]
  }
]

}
{% endschema %}