<!-- start page-title -->
<section class="page-title">
  <div class="page-title-container">
    <div class="page-title-wrapper">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <h2>Landing Page</h2>
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li>Landing Page</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
</section>
<!-- end page-title -->

<div class="minibar-section section-padding">
  <div class="container-1410">
    <div class="entry-content minibar-wrap">
      <div class="row">
        <div class="col col-xs-12">
          <div class="section-title-s2">
            <h2>Choose your plant</h2>
          </div>
          <div class="pg-content">
            <p>
              Select one of our premium mini plant varieties and pair it with the pot of your choice!<br>
              We would love to see your unique combo! Tag us on instagram @ranaplntco
            </p>
          </div>
        </div>
      </div>
      <div class="step-content plant-style-area">
        <div class="s-row">
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-plants"
              data-name="minibar-plants"
              data-id="58"
              data-slug="birkin"
              data-opt_name="Birkin"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/birkin.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Birkin</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-plants"
              id="minibar-plants58"
              class="getSelected minibar-plants d-none"
              value="birkin"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-plants"
              data-name="minibar-plants"
              data-id="59"
              data-slug="calathea"
              data-opt_name="Calathea"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/calathea.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Calathea</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-plants"
              id="minibar-plants59"
              class="getSelected minibar-plants d-none"
              value="calathea"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-plants"
              data-name="minibar-plants"
              data-id="63"
              data-slug="philodendron-cordatum"
              data-opt_name="Cordatum"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img
                    src="https://ranaplantco.com/wp-content/uploads/2022/10/Philodendron-Cordatum.jpg"
                  >
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Cordatum</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-plants"
              id="minibar-plants63"
              class="getSelected minibar-plants d-none"
              value="philodendron-cordatum"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-plants"
              data-name="minibar-plants"
              data-id="60"
              data-slug="golden"
              data-opt_name="Golden"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/golden-pothos.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Golden</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-plants"
              id="minibar-plants60"
              class="getSelected minibar-plants d-none"
              value="golden"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-plants"
              data-name="minibar-plants"
              data-id="61"
              data-slug="maranta"
              data-opt_name="Maranta"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/maranta.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Maranta</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-plants"
              id="minibar-plants61"
              class="getSelected minibar-plants d-none"
              value="maranta"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-plants"
              data-name="minibar-plants"
              data-id="62"
              data-slug="marble-queen"
              data-opt_name="Marble Queen"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img
                    src="https://ranaplantco.com/wp-content/uploads/2022/10/marble-queen-pothos.jpg"
                  >
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Marble Queen</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-plants"
              id="minibar-plants62"
              class="getSelected minibar-plants d-none"
              value="marble-queen"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <div class="section-title-s2">
            <h2>Choose your Pot</h2>
          </div>
        </div>
      </div>
      <div class="step-content pot-style-area">
        <div class="s-row">
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="64"
              data-slug="ancient"
              data-opt_name="Ancient"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/ancient.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Ancient</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots64"
              class="getSelected minibar-pots d-none"
              value="ancient"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="65"
              data-slug="arched"
              data-opt_name="Arched"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/arched.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Arched</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots65"
              class="getSelected minibar-pots d-none"
              value="arched"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="66"
              data-slug="dot"
              data-opt_name="Dot"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/dot.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Dot</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots66"
              class="getSelected minibar-pots d-none"
              value="dot"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="67"
              data-slug="etched"
              data-opt_name="Etched"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/etched.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Etched</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots67"
              class="getSelected minibar-pots d-none"
              value="etched"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="68"
              data-slug="geo"
              data-opt_name="Geo"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/geo.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Geo</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots68"
              class="getSelected minibar-pots d-none"
              value="geo"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="72"
              data-slug="grey-dot"
              data-opt_name="Grey Dot"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/grey-dot.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Grey Dot</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots72"
              class="getSelected minibar-pots d-none"
              value="grey-dot"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="70"
              data-slug="hatch"
              data-opt_name="Hatch"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/hatch.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Hatch</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots70"
              class="getSelected minibar-pots d-none"
              value="hatch"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="73"
              data-slug="sage-green"
              data-opt_name="Sage Green"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/sage-green.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Sage Green</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots73"
              class="getSelected minibar-pots d-none"
              value="sage-green"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="69"
              data-slug="stripe"
              data-opt_name="Stripe"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/stripe.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Stripe</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots69"
              class="getSelected minibar-pots d-none"
              value="stripe"
            >
          </div>
          <div class="s-col">
            <a
              href="javascript:;"
              class="select_variation minibar-pots"
              data-name="minibar-pots"
              data-id="71"
              data-slug="tribal"
              data-opt_name="Tribal"
            >
              <div class="inner">
                <div class="img-wrap">
                  <img src="https://ranaplantco.com/wp-content/uploads/2022/10/tribal.jpg">
                </div>
                <!-- <div class="icon"><i class="fas fa-check-circle"></i></div> -->
                <div class="name">Tribal</div>

                <!-- -<div class="price">$</div>- -->
              </div>
            </a>
            <input
              type="radio"
              name="minibar-pots"
              id="minibar-pots71"
              class="getSelected minibar-pots d-none"
              value="tribal"
            >
          </div>
        </div>
      </div>

      <div class="final-product">
        <div class="bundle-wrap">
          <div class="img">
            <img
              id="variation_img"
              src="https://ranaplantco.com/wp-content/themes/ranaplant/images/mbm.jpg"
            >
          </div>
          <div class="detail">
            <div class="inner">
              <div class="price">Price $70.00</div>
              <div class="selected-product">
                <span class="td-minibar-pots"></span> with <span class="td-minibar-plants"></span>
              </div>
              <div class="attributes-row">
                <table>
                  <tr id="tr-minibar-plants" class="d-none">
                    <td><i class="fas fa-times-circle"></i></td>
                    <td>Selected Plant</td>
                    <td id="td-minibar-plants"></td>
                  </tr>
                  <tr id="tr-minibar-pots" class="d-none">
                    <td><i class="fas fa-times-circle"></i></td>
                    <td>Selected Pot</td>
                    <td id="td-minibar-pots"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="btn-cart-wrap">
            <div class="add-to-cart">
              <input type="hidden" name="variation_id" id="variation_id" value="">
              <input type="hidden" name="product_id" id="product_id" value="479">
              <button id="add_to_cart_miniplant">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .entry-content -->
  </div>
</div>

<!-- start instagram-section -->
<section class="instagram-section">
  <div class="container-1410">
    <div class="row">
      <div class="col col-xs-12">
        <div class="instagram-inner">
          <div class="instagram-text">
            <h3>Follow our instagram</h3>
            <p>@JadeShop.studio</p>
          </div>
          <div class="instagram-grids clearfix">
            <div class="grid">
              <a href="shop-single.html"><img src="assets/images/instagram/1.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img src="assets/images/instagram/3.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img src="assets/images/instagram/4.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img src="assets/images/instagram/2.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img src="assets/images/instagram/5.jpg" alt></a>
            </div>
            <div class="grid">
              <a href="shop-single.html"><img src="assets/images/instagram/6.jpg" alt></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end instagram-section -->

<script>
  jQuery(document).ready(function ($) {
    var variation_json =
      '[{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-philo-cordatum-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-philo-cordatum.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-philo-cordatum-75x113.jpg","variation_id":684,"image_id":704,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"ancient"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-philo-cordatum-750x900.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-philo-cordatum.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-philo-cordatum-75x90.jpg","variation_id":686,"image_id":818,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"arched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-philo-cordatum-e1664533816693-750x1082.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-philo-cordatum-e1664533816693.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-philo-cordatum-e1664533816693-75x108.jpg","variation_id":688,"image_id":706,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-philo-cordatum-e1664629043289-750x977.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-philo-cordatum-e1664629043289.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-philo-cordatum-e1664629043289-75x98.jpg","variation_id":690,"image_id":715,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"etched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-philo-cordatum-e1664629082469-750x1164.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-philo-cordatum-e1664629082469.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-philo-cordatum-e1664629082469-75x116.jpg","variation_id":692,"image_id":716,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"geo"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-philo-cordatum-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-philo-cordatum.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-philo-cordatum-75x113.jpg","variation_id":694,"image_id":717,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"grey-dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-philo-cordatum-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-philo-cordatum.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-philo-cordatum-75x113.jpg","variation_id":696,"image_id":718,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"hatch"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-philo-cordatum-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-philo-cordatum.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-philo-cordatum-75x113.jpg","variation_id":698,"image_id":719,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"sage-green"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-philodendron-cordatum-e1664629129755-750x1071.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-philodendron-cordatum-e1664629129755.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-philodendron-cordatum-e1664629129755-75x107.jpg","variation_id":700,"image_id":720,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"stripe"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-philo-cordatum-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-philo-cordatum.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-philo-cordatum-75x113.jpg","variation_id":702,"image_id":721,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"philodendron-cordatum","minibar_pots":"tribal"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-golden-pothos-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-golden-pothos.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-golden-pothos-75x113.jpg","variation_id":634,"image_id":707,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"grey-dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-golden-pothos-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-golden-pothos.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-golden-pothos-75x113.jpg","variation_id":636,"image_id":722,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"hatch"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-golden-pothos-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-golden-pothos.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-golden-pothos-75x113.jpg","variation_id":638,"image_id":723,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"sage-green"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-golden-pothos-e1664628081471-750x1056.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-golden-pothos-e1664628081471.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-golden-pothos-e1664628081471-75x106.jpg","variation_id":640,"image_id":724,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"stripe"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-golden-pothos-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-golden-pothos.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-golden-pothos-75x113.jpg","variation_id":642,"image_id":725,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"tribal"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-maranta-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-maranta.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-maranta-75x113.jpg","variation_id":644,"image_id":711,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"ancient"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-maranta-750x900.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-maranta.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-maranta-75x90.jpg","variation_id":646,"image_id":819,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"arched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-maranta-e1664628321222-750x931.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-maranta-e1664628321222.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-maranta-e1664628321222-75x93.jpg","variation_id":648,"image_id":727,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etch-with-maranta-e1664628559288-750x855.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etch-with-maranta-e1664628559288.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etch-with-maranta-e1664628559288-75x86.jpg","variation_id":650,"image_id":728,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"etched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-maranta-e1664628379857-750x953.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-maranta-e1664628379857.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-maranta-e1664628379857-75x95.jpg","variation_id":652,"image_id":729,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"geo"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-maranta-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-maranta.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-maranta-75x113.jpg","variation_id":654,"image_id":730,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"grey-dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-maranta-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-maranta.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-maranta-75x113.jpg","variation_id":656,"image_id":731,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"hatch"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-maranta-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-maranta.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-maranta-75x113.jpg","variation_id":658,"image_id":732,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"sage-green"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-maranta-e1664628460464-750x889.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-maranta-e1664628460464.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-maranta-e1664628460464-75x89.jpg","variation_id":660,"image_id":733,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"stripe"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-maranta-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-maranta.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-maranta-75x113.jpg","variation_id":662,"image_id":734,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"maranta","minibar_pots":"tribal"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-marble-queen-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-marble-queen.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-marble-queen-75x113.jpg","variation_id":664,"image_id":712,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"ancient"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-marble-queen-e1664628677913-750x1276.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-marble-queen-e1664628677913.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-marble-queen-e1664628677913-75x128.jpg","variation_id":666,"image_id":735,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"arched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-marble-queen-e1664628715843-750x1191.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-marble-queen-e1664628715843.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-marble-queen-e1664628715843-75x119.jpg","variation_id":668,"image_id":736,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-marble-queen-e1664628757332-750x1095.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-marble-queen-e1664628757332.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-marble-queen-e1664628757332-75x109.jpg","variation_id":670,"image_id":737,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"etched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-marble-queen-e1664628799812-750x1095.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-marble-queen-e1664628799812.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-marble-queen-e1664628799812-75x109.jpg","variation_id":672,"image_id":738,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"geo"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-marble-queen-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-marble-queen.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-marble-queen-75x113.jpg","variation_id":674,"image_id":739,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"grey-dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-marble-queen-750x1124.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-marble-queen.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-marble-queen-75x112.jpg","variation_id":676,"image_id":740,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"hatch"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-marble-queen-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-marble-queen.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-marble-queen-75x113.jpg","variation_id":678,"image_id":741,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"sage-green"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-marble-queen-e1664628898304-750x1198.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-marble-queen-e1664628898304.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-marble-queen-e1664628898304-75x120.jpg","variation_id":680,"image_id":742,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"stripe"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-marble-queen-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-marble-queen.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-marble-queen-75x113.jpg","variation_id":682,"image_id":743,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"marble-queen","minibar_pots":"tribal"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-birkin-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-birkin.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-birkin-75x113.jpg","variation_id":584,"image_id":709,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"ancient"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-birkin-e1664534001582-750x1118.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-birkin-e1664534001582.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-birkin-e1664534001582-75x112.jpg","variation_id":586,"image_id":744,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"arched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-birkin-e1664535026127-750x1011.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-birkin-e1664535026127.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-birkin-e1664535026127-75x101.jpg","variation_id":588,"image_id":745,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-birkin-e1664535087907-750x1037.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-birkin-e1664535087907.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-birkin-e1664535087907-75x104.jpg","variation_id":590,"image_id":746,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"etched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-birkin-e1664534703364-750x1164.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-birkin-e1664534703364.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-birkin-e1664534703364-75x116.jpg","variation_id":592,"image_id":747,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"geo"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-birkin-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-birkin.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-birkin-75x113.jpg","variation_id":594,"image_id":748,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"grey-dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-birkin-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-birkin.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-birkin-75x113.jpg","variation_id":596,"image_id":749,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"hatch"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-birkin-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-birkin.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-birkin-75x113.jpg","variation_id":598,"image_id":750,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"sage-green"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-Philo-Birkin-e1664533953770-750x1095.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-Philo-Birkin-e1664533953770.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/stripe-with-Philo-Birkin-e1664533953770-75x109.jpg","variation_id":600,"image_id":751,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"stripe"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-birkin-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-birkin.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-birkin-75x113.jpg","variation_id":602,"image_id":752,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"birkin","minibar_pots":"tribal"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-calathea-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-calathea.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-calathea-75x113.jpg","variation_id":604,"image_id":710,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"ancient"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-calathea-e1664534286468-750x1100.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-calathea-e1664534286468.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-calathea-e1664534286468-75x110.jpg","variation_id":606,"image_id":713,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"arched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-calathea-e1664534608238-750x953.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-calathea-e1664534608238.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-calathea-e1664534608238-75x95.jpg","variation_id":608,"image_id":753,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etch-with-calathea-e1664534655769-750x1243.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etch-with-calathea-e1664534655769.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etch-with-calathea-e1664534655769-75x124.jpg","variation_id":610,"image_id":754,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"etched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-calathea-e1664535313344-750x1079.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-calathea-e1664535313344.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-calathea-e1664535313344-75x108.jpg","variation_id":612,"image_id":755,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"geo"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-calathea-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-calathea.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/grey-dot-with-calathea-75x113.jpg","variation_id":614,"image_id":756,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"grey-dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-calathea-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-calathea.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/hatch-with-calathea-75x113.jpg","variation_id":616,"image_id":757,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"hatch"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-calathea-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-calathea.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/sage-green-with-calathea-75x113.jpg","variation_id":618,"image_id":758,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"sage-green"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/Stripe-with-calathea-e1664534402250-750x1059.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/Stripe-with-calathea-e1664534402250.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/Stripe-with-calathea-e1664534402250-75x106.jpg","variation_id":620,"image_id":759,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"stripe"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-calathea-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-calathea.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/tribal-with-calathea-75x113.jpg","variation_id":622,"image_id":760,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"calathea","minibar_pots":"tribal"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-golden-pothos-750x1125.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-golden-pothos.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/ancient-with-golden-pothos-75x113.jpg","variation_id":624,"image_id":708,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"ancient"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-golden-pothos-e1664534505701-750x1006.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-golden-pothos-e1664534505701.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/arch-with-golden-pothos-e1664534505701-75x101.jpg","variation_id":627,"image_id":761,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"arched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-golden-pothos-e1664628171190-750x981.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-golden-pothos-e1664628171190.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/dot-with-golden-pothos-e1664628171190-75x98.jpg","variation_id":628,"image_id":762,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"dot"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-golden-pothos-e1664533915675-750x1082.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-golden-pothos-e1664533915675.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/etched-with-golden-pothos-e1664533915675-75x108.jpg","variation_id":630,"image_id":763,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"etched"},{"image":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-golden-pothos-e1664533878439-750x922.jpg","full_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-golden-pothos-e1664533878439.jpg","thumb_src":"https:\/\/ranaplantco.com\/wp-content\/uploads\/2022\/09\/geo-with-golden-pothos-e1664533878439-75x92.jpg","variation_id":632,"image_id":764,"display_regular_price":45,"display_price":45,"display_price2":"45.00","minibar_plants":"golden","minibar_pots":"geo"}]';
    variation_json = JSON.parse(variation_json);
    //console.log("variation_json",variation_json);
    $('.select_variation').on('click', function (e) {
      e.preventDefault();

      let slug = $(this).data('slug');
      let main_term_slug = $(this).data('name');
      let opt_name = $(this).data('opt_name');
      let id = $(this).data('id');
      //console.log(slug, main_term_slug, id);
      $('a.' + main_term_slug).removeClass('active');
      $(this).addClass('active');
      //checkbox
      $('.' + main_term_slug).prop('checked', false);
      $('#' + main_term_slug + id).prop('checked', true);
      //table
      $('.selected-product .td-' + main_term_slug).text('');
      $('.selected-product .td-' + main_term_slug).text(opt_name);
      $('#td-' + main_term_slug).text(opt_name);
      $('#tr-' + main_term_slug).removeClass('d-none');
      getSelectedval(variation_json);
    });
    // 	$(".select_package").click(function(){
    // 		getSelectedval(variation_json)
    // 	});
    $('#add_to_cart_miniplant').click(function () {
      let variation_id = $('#variation_id').val();
      let product_id = $('#product_id').val();
      var formdata = 'product_id=' + product_id + '&variation_id=' + variation_id;
      $.ajax({
        type: 'POST',
        url: 'https://ranaplantco.com/wp-admin/admin-ajax.php?action=add_to_cart_mini_plant',
        data: {
          action: 'add_to_cart_mini_plant',
          product_id: product_id,
          variation_id: variation_id,
        },
        success: function (html) {
          //$("#results").append(html);
          window.location.href = 'https://ranaplantco.com/cart';
        },
      });
    });
  });
  function getSelectedval(variation_json) {
    var selectedVal = [];
    jQuery('.getSelected').each(function () {
      let name = jQuery(this).attr('name');
      let val = jQuery(this).val();
      //console.log("name",name);
      //console.log("val",val);
      if (jQuery(this).is(':checked')) {
        if (name == 'minibar-plants') {
          selectedVal[0] = val;
        } else if (name == 'minibar-pots') {
          selectedVal[1] = val;
        } else if (name == 'packaging') {
          selectedVal[2] = val;
        }
      }
      //console.log("selectedVal",selectedVal);
      if (selectedVal.length == 2) {
        variation_json.forEach((variation) => {
          if (variation.minibar_plants == selectedVal[0] && variation.minibar_pots == selectedVal[1]) {
            //console.log("variation",variation);
            jQuery('.minibar-wrap .final-product').fadeIn();
            jQuery('#variation_id').val(variation.variation_id);
            jQuery('#variation_img').attr('src', variation.image);
            jQuery('.detail .inner .price').text('Price $' + variation.display_price2);
            return false;
          }
        });
      }
    });
  }
</script>
