button.checkout-btn.checkoutbtn {
  background: #545454;
  padding: 12px;
}
.entry-media img {
  width: 100%;
}
.bootstrap-touchspin .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: contents;
}
