button.checkout-btn.checkoutbtn {
  background: #545454;
  padding: 12px;
}
.entry-media img {
  width: 100%;
}
.bootstrap-touchspin .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: contents;
}
.shopify-challenge__container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.variant-selector select {
  padding: 16px;
  border-radius: 3px;
}
.product-stock.discount {
  position: absolute;
  background: red;
  color: white;
  padding: 4px 12px;
  border-radius: 3px;
  left: 5px;
  top: 5px;
}
.addToCartBtn button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.addToCartBtn i {
  font-size: 20px;
  color: #545454;
}
.recommended-section .products > li {
  height: 395px;
}
